<div>
  <div class='flex flex-col items-start gap-12 px-6 md:flex-row'>
    <div class='w-full md:w-1/2'>
      <img
        class='w-full rounded-xl'
        src='{{ product.featured_image | image_url: width: 800 }}'
        alt='{{ product.featured_image.alt }}'
        width='800'
        height='800'
      >
    </div>
    <div class='flex w-full flex-col  md:w-1/2 md:pr-6 md:pt-6'>
      <div class='text-brand-neutral-500 mb-3 flex flex-row gap-2 text-lg'>
        <span>
          {{ product.type }}
        </span>

        <span class='lowercase'>
          {{ product.metafields.custom.volume.value.value | round: 0 -}}
          {{- product.metafields.custom.volume.value.unit }}
        </span>
        <span>
          {{ product.metafields.custom.package.value.title }}
        </span>
      </div>
      <h1 class='text-brand-neutral-800 whitespace-nowrap text-4xl font-normal'>
        {{ product.title }}
      </h1>
      <!-- Price Row -->
      <div class='flex items-center justify-between'>
        <div class='flex items-center gap-2'>
          {% if product.compare_at_price > product.price %}
            {% render 'item-price', amount: product.price, size: '2xl', weight: 'bold', color: 'primary' %}
            {% render 'item-price',
              amount: product.compare_at_price,
              size: 'sm',
              color: 'muted',
              class: 'line-through'
            %}
          {% else %}
            {% render 'item-price', amount: product.price, size: 'lg', weight: 'semibold', color: 'primary' %}
          {% endif %}
        </div>

        <!-- Availability Badge -->
        {% unless product.available %}
          {% render 'tag', text: 'Out of Stock', variant: 'pill', size: 'sm', color: 'error' %}
        {% endunless %}
      </div>

      <div class=' mb-4 mt-4'>
        {% render 'paragraph', text: product.description %}
      </div>

      {% form 'product', product %}
        <input type='hidden' name='id' value='{{ product.selected_or_first_available_variant.id }}'>
        {% render 'button',
          type: 'submit',
          label: 'Add to cart',
          variant: 'primary',
          size: 'lg',
          full_width: false,
          disabled: false
        %}
      {% endform %}

      <div class='mt-6'>
        <h3 class='text-brand-neutral-400 mb-1 text-xs uppercase tracking-wide'>Usage</h3>
        <div class=' flex-1'>
          {% for gender in product.metafields.shopify['target-gender'].value %}
            {% render 'tag', text: gender.label, variant: 'outline', size: 'xs', color: 'neutral' %}
          {% endfor %}
          {% for occasion in product.metafields.shopify.occasion.value %}
            {% render 'tag', text: occasion.label, variant: 'outline', size: 'xs', color: 'neutral' %}
          {% endfor %}
          {% for season in product.metafields.shopify.season.value %}
            {% render 'tag', text: season.label, variant: 'outline', size: 'xs', color: 'neutral' %}
          {% endfor %}
        </div>
      </div>

      <div class='mt-3'>
        <h3 class='text-brand-neutral-400 mb-1 text-xs uppercase tracking-wide'>Scents</h3>
        <div class=' flex-1'>
          {% for scent in product.metafields.shopify.scent.value %}
            {% render 'tag', text: scent.label, variant: 'outline', size: 'xs', color: 'neutral' %}
          {% endfor %}
        </div>
      </div>

      <div class='mt-3'>
        <h3 class='text-brand-neutral-400 mb-1 text-xs uppercase tracking-wide'>Ingredients</h3>
        <div class=' flex-1'>
          {% for ingredient in product.metafields.custom.ingredients.value %}
            {% render 'tag', text: ingredient.title, variant: 'outline', size: 'xs', color: 'neutral' %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
